
header {
    text-align: center;
    padding: 10px;
    background: transparent; 
    color: #fff; 
}


header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}


#bio, #work {
    background: transparent; 
    padding: 15px;
    margin: 20px;
    color: #fff; 
}


.project {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;  
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    color: #fff;  
}
